In [2]:
import pandas as pd

In [4]:
import numpy as np

In [8]:
df = pd.read_csv('covid_toy.csv')

In [14]:
df.sample(5)

    age  gender  fever   cough       city has_covid
65   69  Female  102.0    Mild  Bangalore        No
42   27    Male  100.0    Mild      Delhi       Yes
1    27    Male  100.0    Mild      Delhi       Yes
13   64    Male  102.0    Mild  Bangalore       Yes
71   75  Female  104.0  Strong      Delhi        No

In [67]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [16]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import SimpleImputer

In [46]:
transformer = ColumnTransformer(
    transformers =  [
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories = [['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output = False , drop= 'first'),['gender','city'])
],
    remainder='passthrough')

In [48]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.iloc[:,:-1],df.iloc[:,-1],test_size = 0.2)

In [52]:
t1 = transformer.fit_transform(x_train)
t2 = transformer.transform(x_test)

In [54]:
t1.shape

(80, 7)

In [56]:
t2.shape

(20, 7)